@import './components/general';
@import './components/main';
@import './components/header';
@import "./components/sectionprods";
@import "./components/sectioncontact";

*{
    margin: 0;
    padding: 0;
}

body{
    scroll-behavior: smooth;
    overflow-y: scroll;
    background-image: url(./../../public/imgs/23.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.displayNone{
    display: none;
}