.mainIndex{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        div{
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
            h1{
                width: 100%;
                padding: 1%;
                font-weight: bold;
                word-spacing: normal;
                line-height: 100%;
                text-align: center;
                list-style: none;
                font-size: 60px;
                background: $white;
                background-clip: unset;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            p{
                text-align: center;
            }
            button{
                padding: 10px;
                font-family: 'Poppins', sans-serif;
                color: $white;
                border: none;
                font-size: 17px;
                border-radius: 10px;
                box-shadow: 1px 1px 1px $white;
            }
        }
}