.fondo_items{
    background-color: #304D6D;
}

.sectionProds{
    #prod1{
        min-height: 100vh;
        backdrop-filter: blur(10px);
    }
    #prod2{
        min-height: 100vh;
        backdrop-filter: blur(10px);
    }
}